<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="../static/css/main.css" rel="stylesheet">
    <script src="../static/js/heatmap.js"></script>
  </head>

  <body>
    <h3>Cornell Building Energy Usage Heatmap</h3>

    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzYPyMjoWb-UXw5Bfe7b5v00mjIGlTMew&libraries=visualization&callback=initMap"
    async defer></script>
  </body>
</html>
